body {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    border: 1px solid black;
}
h1 {
    font-size: 1.5em;
}
ul {
    margin:0;
}
header {
    
    text-align: center;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 10px;
}
.nav {
  background-color: #faedcd; 
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  
}