body {
  background-color: #a5a58d;
  margin: 0;
}

div {
  width: 200px;
  height: 250px;
  margin: 0;
}

#one {
  background-color: #f19c79;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}

#two {
  background-color: #a44a3f;
  border-width: 5px;
  border-style: dotted;
  border-color: #560bad;
  box-sizing: border-box;
  margin: 20px 300px;
}

#three {
  background-color: #f4acb7;
  border: 5px dashed #6c584c;
  border-left-style: dotted;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 100px;
  margin-left: 200px;
}
