body {
  background-color: azure;
}

h1 {
  color: blueviolet;
  text-align: center;
  font-weight: 700;
  text-decoration: greenyellow underline wavy;
  letter-spacing: 2;
  line-height: 2;
}

button {
  color: brown;
}
