body {

}
#circle {
    background-color: #f4a261;
    width: 100px;
    height: 100px;
    margin: 0;
    transition: 0.5s;
}

#circle:hover {
    background-color: #2a9d8f;
    border-radius: 50%;
}