* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}
:root {
    --main-color: #f25341;
    --text-color: #35404e;
    /* --bg-color: #f9f9ff; */
    --bg-color: #e8e8e4;
    --big-font: 3.6rem;
    --h2-font: 2.26rem;
    --p-font: 1.1rem;


}

body {
    background-color: var(--bg-color);    
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 111;
    padding: 20px 320px;
    background-color: var(--bg-color);
    box-shadow: rgba(33,35,38,0.1) 0 10px 10px -10px;
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-color);
    
    
    
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    transition: color 0.4s;
}

.navlist a:hover { 
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section {
    padding: 100px 16.7%;
    
}

.home {
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    align-items: center;

}

.home-img img {
    max-width: 100%;
    min-width: 350px;
    width: 400px;
    height: auto;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5rem;
}

.home-text h5 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--main-color);
}
.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.4;
    margin-bottom: 25px;
}

.home-text p {
    max-width: 100%;
    width: 430px;
    font-size: var(--p-font);
    color: #717173;
    line-height:1.8;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: var(--main-color);
    border-radius: 5rem;
}

.btn i {
    margin-right: 10px;
    
}

.btn:hover {
    transform:scale(1.1);
    transition: 0.4s;
    background-color: #f37465;
    box-shadow: 0 5px 15px 2px rgb(63,44,44/18%);
}


.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
    padding-top: 100px;
}

.about-image img {
    max-width: 100%;
    min-width: 350px;
    width: 400px;
    height: auto;
    box-shadow: 5px 10px 8px #888888;
}

.about-text span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px ;
}

.about-text h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
    margin-bottom: 15px;
}

.about-text p {
    color: #717173;
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Gallery */
.heading {
    text-align: center;

}
.heading h2 {
    font-size: var(--h2-font);

}

.gallery {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px ;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 3.5rem;
}

.gallery-container .row img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.gallery-container .row h3 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.gallery .btn {
    margin-top: 2.5rem;
}

.gallery-container .row:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}


/*Contact Section*/
.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.con-box {
    padding: 40px 25px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    box-shadow: rgba(0,0,0,0.04) 0 3px 5px;
}

.icon i {
    height: 50px;
    width: 50px;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 /25%);
}

.icon i:hover {
    color: white;
    background-color: var(--text-color);
    transition: 0.4s;
}

.con-box h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--text-color);
}

.con-box h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-color);
}

.con-box h6 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-color);
}









.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--bg-color);
    padding: 70px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 1.2rem;
    font-weight: 600;
	color: var(--text-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{

	font-size: 1rem;
	text-transform: capitalize;	
	font-weight: 500;
	color: var(--text-color);
	display: block;
	transition: all 0.4s ease;
}
.footer-col ul li a:hover{
	color: var(--main-color);
	padding-left: 8px;
}

.footer-col .social-links i{
	height: 35px;
    width: 35px;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    margin-right: 1rem;
    
    box-shadow: 0 15px 30px 0 rgb(0 0 0 /25%);
}
.footer-col .social-links i:hover{
	color: white;
    background-color: var(--text-color);
    transition: 0.4s;
}

/*responsive*/
@media (max-width: 1500px) {
    header {
        padding: 15px 42px;
    }
    :root {
        --big-font: 3rem;
        --h2-font: 2rem;
    }
}

@media (max-width: 1340px) {
    section {
        padding: 50px 5%;
    }
}

@media (max-width: 1060px) {
    #menu-icon {
        display: block;
    }

    header .navlist {
        position: absolute;
        top:-400px;
        right:0;
        left:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        transition: 0.4s;
    }

    header .navlist .active {
        top: 86px;
    }

    .navlist a {
        display: block;
        padding: 1.6rem;
    }
}

@media (max-width: 950px) {
    .home {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 80px;
    }
    .home-text p {
        width: 100%;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-image {
        order: 2;

    }
}


@media(max-width: 767px){  
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}
@media(max-width: 574px){   
    
   .footer-col{
    width: 100%; 
}
}