
:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	min-height: 100vh;
	background-color: #caf0f8;;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.navbar {
  background-color: #ade8f4;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 2em;
}
.navbar li a {
  font-size: 2rem;
  font-weight: bold;
  float: left;
  line-height: 2em;
  padding: 0 20px;
  text-decoration: none;
  color: #333;
  
}
.navbar li a:hover {
  background-color: #48cae4;
  color: #fff;
}


.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	position: relative;
}

.gallery-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* transition: transform 400ms ease-out; */
	transition: .5s ease;
	backface-visibility: hidden;
}

.gallery-image:hover {
	transform: scale(1.15);
} 
 










.caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-item:hover .gallery-image {
  opacity: 0.7;
}

.gallery-item:hover .caption {
  opacity: 1;
}

.caption-content, .caption-header {
  background-color: #0077b6;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5em 0.5em;
  
}

.caption-header {
	font-weight: bold;
}
