body {
  margin: 0;
}

header {
  /* position: -webkit-sticky;
  position: sticky; */
  position: sticky;
  width: 100%;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4caf50;
  margin-bottom: 30px;
}

ul > li {
  display: inline;
}
